.messaging{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.id{
    position: absolute;
    top: 4%;
    right: 2%;
    width: 20%;
    text-align: right;
    font-size: 16pt;
}
.messagebox{
    width: 80%;
    height: 35px;
    margin-top: 5px;
}
.messagesender{
    width: 5%;
    height: 40px;
    margin-top: 5px;
}