.msg{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    background: rgb(197, 197, 197);
    width: 90%;
    height: 4%;
}
.buttons{
    display: inline-flex;
    justify-content: flex-end;
}