.msg{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    background: rgb(221, 221, 221);
    width: auto;
    height: auto;
    border: 2px solid #ffe865;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    border-radius: 5px;
}
.msgtxt{
    font: 'Cabin';
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}
.buttons{
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}
.down{
    margin-right: 4px;
    padding: 4px;
}
.up{
    margin-left: 8px;
    margin-right: 4px;
    padding: 4px;
}